$primary: #26529c;
$secondary: #cbd329;
$black: #000;

$white: #fff;
$star: #faaf05;
$gray-light: #b8b8b8;
$gray-bg: #f5f5f5;
$gray: #ebebeb;
$border-color: #d4d4d4;

$mainFont: "Poppins", sans-serif;
$balsamiq: "Balsamiq Sans";

